<!-- <form action="/access/login" method="post"> -->
<form class="p-3">
    <div class="form-group">
        <label for="popover-username">Username</label>
        <input type="text" class="form-control" id="popover-username"
            placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="popover-password">Password</label>
        <input type="password" class="form-control" id="popover-password"
            placeholder="Enter password">
    </div>
    <button type="button" class="btn btn-primary"
        onclick="submitLogin()">Login</button>
</form>
<!-- <a href="/access/register">Register</a> -->