<form class="p-3">
    <h1>כניסה</h1>
    <div class="form-group">
        <label for="popover-username">שם משתמש</label>
        <input type="text" class="form-control" id="popover-username" placeholder="הכנס שם משתמש">
    </div>
    <div class="form-group">
        <label for="popover-password">סיסמה</label>
        <input type="password" class="form-control" id="popover-password" placeholder="הכנס סיסמה">
    </div>
    <button type="button" class="btn btn-primary" onclick="submitLogin()">כניסה</button>
    <button type="button" class="btn btn-link" id="switch-to-register">הרשמה</button>
</form>
