<form class="p-3">
    <h1>הרשמה</h1>
    <div class="form-group">
        <label for="register-username">שם משתמש</label>
        <input type="text" class="form-control" id="register-username" placeholder="הכנס שם משתמש">
    </div>
    <div class="form-group">
        <label for="register-password">סיסמה</label>
        <input type="password" class="form-control" id="register-password" placeholder="הכנס סיסמה">
    </div>
    <div class="form-group">
        <label for="register-email">אימייל</label>
        <input type="email" class="form-control" id="register-email" placeholder="הכנס אימייל">
    </div>
    <div class="form-group">
        <label for="register-phone">טלפון</label>
        <input type="tel" class="form-control" id="register-phone" placeholder="הכנס מספר טלפון">
    </div>
    <div class="form-group">
        <label for="register-address">כתובת</label>
        <input type="text" class="form-control" id="register-address" placeholder="הכנס כתובת">
    </div>
    <button type="button" class="btn btn-primary" onclick="submitRegister()">הרשם</button>
    <button type="button" class="btn btn-link" id="switch-to-login">כניסה</button>
</form>
